@import "vars";
@import "vendor/reset.scss";
@import "fonts.scss";

  html { //для работы с rem
    font-family: 'Gilroy';
}
body {
    background-color: $bgcolor;
    font-size: 18px;
    color: $black;
}

@import "blocks/container.scss";
@import "blocks/header.scss";
@import "blocks/search.scss";
@import "blocks/btn.scss";
@import "blocks/nav.scss";
@import "blocks/main.scss";
@import "blocks/preview.scss";
@import "blocks/companies.scss";
@import "blocks/remont-calculator.scss";
@import "blocks/field.scss";
@import "blocks/slider.scss";
@import "blocks/switch.scss";
@import "blocks/footer.scss";
