.btn{
    height: 38px;

    left: 1412px;
    top: 16px;
    border-radius: 4px;
    font-size: 16px;
    color: $white;
    background-color: $blue;
    white-space: nowrap;
    padding: 0 15px;
    transition: all 0.2s linear;
    &:hover{
        background-color: lighten($color: $blue, $amount: 5%);
    }
    &--desktop{
        @include bp($md){
            display: none;
        }
        
    } 
    &--mobile{
        font-size: 14px;
        width: 210px;
        padding: 0;
    }
    
}