.container{
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    overflow: hidden;
    
    @include bp($sm){
        padding-left: 5px;
        padding-right: 5px;
    }
}