.main{
    display: flex;
    .main__left{
  
        max-width: 840px;

        margin-right: 15px;
        @include bp($md){
            margin-right: 5px;
            
        }
        @include bp(650px){
            margin-right: 0px;
        }
    }

    .main__right{
        
        @include bp($md){
            margin-left: 5px;

        }
        @include bp(650px){
            display: none;
        }
    }
}