<footer class="footer">
        <div class="footer__left">
            <h5 class="footer__header">Стоимость вашего ремонта</h5>
            <div class="footer__content">
                <span class="footer__text">Итого:   </span> 
                <div class="footer__text footer__text--fz footer__text--fw repair_price" id="repair_price"></div>
                <span class="footer__text footer__text--fz footer__text--fw"> руб.</span>
            </div>
        </div>
        <div class="footer__right">
                *Напоминаем, что это <br class="br"> примерная стоимость
        </div>
</footer>
