<header>
    <div class="container">
        <div class="header__inner">
            <img class="header__logo" src="assets/images/logo.svg" alt="Remarting-SPb">
            <div class="search">
                <form class="search__form">
                    <button class="search__button" type="submit">
                        <img class="search__icon" src="assets/images/search_icon.svg" alt="search">
                    </button>
                    <input class="search__input" type="text" placeholder="Введите название компании...">
                </form>
            </div>
            <button class="btn btn--desktop" type="button">Добавить компанию +</button>
            <div class="burger__container" id="burger">
                <div class="burger__block">
                    <div class="burger" >
                      <span class="burger__element"></span>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
    <div class="container">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#" class="nav__link">Ремонт квартир</a>
                </li>

                <li class="nav__item">
                    <a href="#" class="nav__link">Дизайн интерьеров</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Карта компаний</a>
                </li>
                <li class="nav__item">
                    <a href="#" class="nav__link">Последние отзывы</a>
                </li>
                <li class="nav__item">
                    <img class="nav_icon" src="assets/images/calculator_icon.svg" alt="">
                    <a href="#" class="nav__link">Калькулятор ремонта</a>
                </li>
            </ul>
        </nav>
    </div>
    
        <nav class="nav-mobile">
            <img class="nav-mobile__logo" src="assets/images/logo.svg" alt="Remarting-SPb">
            <button class="btn btn--mobile" type="button">Добавить компанию +</button>
            <ul class="nav-mobile__list">
                <li class="nav-mobile__item">
                    <a href="#" class="nav-mobile__link">Ремонт квартир</a>
                </li>

                <li class="nav-mobile__item">
                    <a href="#" class="nav-mobile__link">Дизайн интерьеров</a>
                </li>
                <li class="nav-mobile__item">
                    <a href="#" class="nav-mobile__link">Карта компаний</a>
                </li>
                <li class="nav-mobile__item">
                    <a href="#" class="nav-mobile__link">Последние отзывы</a>
                </li>
                <li class="nav-mobile__item nav-mobile__item--logo">
                    <img class="nav_icon" src="assets/images/calculator_icon.svg" alt="">
                    <a href="#" class="nav-mobile__link">Калькулятор ремонта</a>
                </li>
            </ul>
        </nav>
    

</header>
